.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

.title {
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fileInput {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.uploadButton {
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.uploadButton:hover {
  background-color: #0053ba;
}

.summaryContainer {
  margin-top: 30px;
  border-radius: 5px;
}

.summaryTitle {
  font-size: 20px;
  margin-bottom: 10px;
}

.summaryText {
  font-size: 16px;
  line-height: 1.5;
}
